
on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw

    mkdir /storage/emulated 0555 root root
    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/sdcard1 0700 root root
    mkdir /storage/usbdisk 0700 root root

    # for backwards compatibility
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd
    symlink /storage/sdcard1 /sdcard2
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk
    export EXTERNAL_STORAGE2 /storage/sdcard1
    export EXTERNAL_STORAGE3 /storage/sdcard1
    export EXTERNAL_STORAGE4 /storage/usbdisk
    export EXTERNAL_STORAGE5 /storage/usbdisk

    setprop ro.usb.idproduct.ums 0ce9
    setprop ro.usb.idproduct.mtp 0f91
    setprop ro.usb.idproduct.mtp_adb 0df5
    setprop ro.usb.idproduct.rndis 0ce9

on early-fs
    # System must be mounted in order to use mksh and setup the fstabs
    mount ext4 emmc@system /system wait rw noatime
#    mount ext4 emmc@userdata /data
#    mount ext4 emmc@cache /cache

    chown root.root /setfstab
    chmod 700 /setfstab
    exec /system/bin/sh -c /setfstab

on fs
    # we may remap this as /mnt/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media
    setprop ro.crypto.fuse_sdcard true

    # give system access to wpa_supplicant.conf for backup and restore
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0755 wifi wifi
    chown dhcp dhcp /data/misc/dhcp
    chmod 0770 /data/misc/wifi
    setprop wifi.interface wlan0
    write /sys/module/perflock/parameters/legacy_mode 0

    write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1

    # NETWORK: NAT setting
    # To prevent out of WINDOW ACK from making
    # connection tracking to treat them as INVALID packet
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Wifi: Disable the IPv6 of p2p0 interface
    write /proc/sys/net/ipv6/conf/p2p0/disable_ipv6 1

    # for NFC
    symlink /system/vendor/pittpatt /vendor/pittpatt
    symlink /system/vendor/firmware/libpn544_fw.so /vendor/firmware/libpn544_fw.so

on early-boot
    # Set the storage properties now that the property service is available
    start set_props

on boot
    # jewel radio
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio


service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

# Run setup_fs in case the cache partition needs formatted
service setup_fs sh -c "/system/bin/setup_fs $(cat /proc/emmc | grep '"cache"' | awk '-F:' '{ print $1; }')"
    class core
    user root
    group root
    oneshot

# create virtual SD card at /mnt/sdcard, based on the /data/media directory with new storage layout, or /mnt/sdcard0 from the old one
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start
    disabled

# Enabled by vold if using the old fstab
service sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

# Set sys.storage_legacy if remount.qcom shows the system partition to be on p35 (old configuration)
service set_props /system/bin/sh -c "setprop sys.storage_legacy $(cat /remount.qcom | grep -c p35)"
    user root
    group system
    oneshot

on property:sys.storage_legacy=0
    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    setprop persist.sys.config mtp,adb
    start sdcard

on property:sys.storage_legacy=1
    export EXTERNAL_STORAGE /storage/sdcard0
    setprop persist.sys.config ums,adb

